@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  background: rgb(14,14,14);
  background: linear-gradient(0deg, rgba(14,14,14,1) 59%, rgba(14,14,14,0) 59%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  transition: all ease-in-out .3s;
  font-family: monospace;
} */


* {
  @apply transition-all duration-200;
}

@layer components {

  .text-outline-dark {
    -webkit-text-stroke: 1px #141414;
  }

  .text-outline-light {
    -webkit-text-stroke: 1px #E5E5E5;
  }

  .cursor {
    width: 40px;
    height: 20px;
    color: rgba(0,0,0,.0);
    /* border-radius: 50%; */
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    backdrop-filter: invert(1) blur(0px) saturate(5) hue-rotate(240deg);
    border-radius: 27% 73% 51% 49% / 39% 100% 0% 61%    ;
    background: transparent;
    border: 2px solid white;
    z-index: 1000;
  }

  .font-outfit {
    font-family: "Outfit", sans-serif;
  }

}